@model Sw_New_mvc.Models.WIFS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>WIFS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DistrictMst.Dis_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistrictMst.Dis_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProjectMst.Proj_Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProjectMst.Proj_Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AanganwadiMst.Ang_WardNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AanganwadiMst.Ang_WardNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.reportingMonth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.reportingMonth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.reportingyear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.reportingyear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.reportingdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.reportingdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.a)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.a)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.b)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.b)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.c)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.c)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.d)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.d)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.e)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.e)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.f)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.f)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.g)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.g)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.h)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.h)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.i)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.i)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.j)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.j)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.k)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.k)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.l)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.l)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.m)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.m)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.n_opening)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n_opening)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.n_received)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n_received)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.n_utilized)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n_utilized)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.n_balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.n_balance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.o_opening)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.o_opening)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.o_received)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.o_received)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.o_utilized)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.o_utilized)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.o_balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.o_balance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cby)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cby)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.con)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.con)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mby)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mby)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.approve_status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approve_status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.approve_by_DPO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approve_by_DPO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.approve_date_DPO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approve_date_DPO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.approve_by_CDPO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approve_by_CDPO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.approve_date_CDPO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approve_date_CDPO)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
