@model Sw_New_mvc.Models.icdsasMonthlyECCEDay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>icdsasMonthlyECCEDay</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReportingMonth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReportingMonth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reportingyear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reportingyear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reportingdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reportingdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dist_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dist_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.proj_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.proj_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.awc_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.awc_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Awc_code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Awc_code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dateofecc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateofecc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.community_was_informed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.community_was_informed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AWW_present)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AWW_present)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AWH_present)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AWH_present)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_no_AWC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_no_AWC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_no_outside)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_no_outside)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_no_inside)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_no_inside)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Participant_children)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Participant_children)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Participant_parents)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Participant_parents)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Participant_PRI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Participant_PRI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Participant_AWCMC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Participant_AWCMC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Participant_Health)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Participant_Health)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_SNP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_SNP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Materials_donated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Materials_donated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Theme_of_ECCE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Theme_of_ECCE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExplainChild)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExplainChild)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.child_risk)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.child_risk)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.maintain_profile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maintain_profile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.maintain_dayrecord)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maintain_dayrecord)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cby)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cby)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.con)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.con)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mby)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mby)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Div_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Div_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.approve_status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approve_status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.approve_by_cdpo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approve_by_cdpo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.approve_date_cdpo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approve_date_cdpo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.approve_by_dpo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approve_by_dpo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.appove_date_dpo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.appove_date_dpo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remarks)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
